:root {
  --font-heading: PP Neue Montreal;
  --font-body: PP Neue Montreal;
  --space-1: 1px;
  --space-2: 2.1px;
  --space-3: 3.6px;
  --space-4: 4px;
  --space-5: 8px;
  --space-6: 10px;
  --space-7: 20px;
  --space-8: 21px;
  --space-9: 22px;
  --space-10: 25px;
  --space-11: 28px;
  --space-12: 30px;
  --space-13: 34px;
  --space-14: 36px;
  --space-15: 93.3333px;
  --space-16: 94px;
  --space-17: 150.667px;
  --space-18: 173.333px;
  --space-19: 192px;
  --space-20: 293.333px;
}
